<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.activitymapper.ActivityRecordPhotoMapper">
		<resultMap type="cn.com.zzzy.entity.ActivityRecordPhoto" id="activityPhotoResult">
			<id column="activity_record_PhotoId" property="activityPhotoId"></id>
			<result column="activity_record_photo" property="activityRecordPhoto"></result>
			<association property="activityRecord" column="activity_recordId" javaType="cn.com.zzzy.entity.ActivityRecord" resultMap="activityRecordResult"></association>
		</resultMap>
		
		<resultMap type="cn.com.zzzy.entity.ActivityRecord" id="activityRecordResult">
				<id column="activity_recordId"  property="activityRecordId"></id>
				<result column="activity_recordContent"  property="activityRecordContent"></result>
		</resultMap>
		
		<insert id="insertActivityRecordPhoto" parameterType="cn.com.zzzy.entity.ActivityRecordPhoto" >
				insert into activity_record_photo(activity_recordId,activity_record_photo) values (#{activityRecordId},#{activityRecordPhoto})
		</insert>
		
		
		<select id="queryActivityPhotoList" parameterType="Integer" resultMap="activityPhotoResult">
				select a.* from activity_record_photo a where a.activity_recordId = #{recordId}
		</select>
		
		
</mapper>