<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.activitymapper.ActivityPhotoMapper">
		
		<insert id="insert" parameterType="cn.com.zzzy.entity.ActivityPhoto" >
				insert into activity_photo(activity_recordId,activity_photo) values (#{activityRecordId},#{activityPhoto})
		</insert>
</mapper>