<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.questionmapper.QuestionAnswerMapper">
	<delete id="delete" parameterType="Integer">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
		delete ques_answer as QuestionAnswer 
		where QuestionAnswer.ques_answer_questionId=#{qid}
	</delete>
	<select id="select" resultType="map">
		select * from ques_answer as QuestionAnswer 
		where QuestionAnswer.ques_answer_questionId=#{qid}
	</select>
</mapper>