<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.studentmapper.StudentsMapper">
		  <resultMap type="cn.com.zzzy.entity.Student" id="StudentResult">
				<id column="stu_Id" property="studentId"></id>
				<result column="stu_Name"  property="studentName"   />
				<result column="stu_Photo"  property="studentPhoto" />
				<result column="stu_Birthday" property="studentBirthday"></result>
				<result column="stu_Address" property="studentAddress"></result>
				<result column="stu_Sex" property="studentSex"></result>
				<result column="stu_signature" property="studentSignature"></result>
				<result column="stu_CommunityId" property="studentCommunityId"></result>
				<association property="studentClasses" javaType="cn.com.zzzy.entity.StudentClasses" resultMap="classesResult">
				</association>
				<collection property="studentFriends" ofType="cn.com.zzzy.entity.StudentFriend">
						<result column="frientId" property="friend"></result>
						<result column="stu_friend_Flag" property="stuFriendFlag"></result>
				</collection>	
			</resultMap>
			
		 <resultMap type="cn.com.zzzy.entity.Student" id="friendResult">
		 		<id column="friendId" property="studentId"></id>
		 		<result column="friendName" property="studentName"/>
		 		<result column="friendPhoto" property="studentPhoto"/>
		 		<result column="friendBirthday" property="studentBirthday"/>
		 		<result column="friendBirthPlace" property="studentBirthPlace"/>
		 		<result column="cla_Id" property="studentClassId"/>
		 		<result column="friendCommun" property="studentCommunityId"/>
		 		<result column="friendAddress" property="studentAddress"></result>
		 		<association column="cla_Id" property="studentClasses" javaType="cn.com.zzzy.entity.StudentClasses" resultMap="classesResult"></association>
		 </resultMap>
		 
		 <resultMap type="cn.com.zzzy.entity.StudentClasses" id="classesResult">
		 		<id column="cla_Id" property="classesId"></id>
		 		<id column="cla_Name" property="className"></id>
		 </resultMap>

			<!--根据学生ID查询学生朋友的信息 -->
			 <select id="queryFriendInfo" resultMap="StudentResult">
				SELECT
						s.stu_Id stuId,s.stu_Name stuName ,s.stu_Photo stuPhoto,
						stu_friend.stu_friend_Flag,stu_friend.frientId,
						ss.stu_Id friendId ,ss.stu_Name friendName ,ss.stu_Photo friendPhoto,ss.stu_Birthday friendBirthday,ss.stu_BirthPlace friendBirthPlace,ss.stu_ClassId friendClass,ss.stu_CommunityId friendCommun,ss.stu_Address  friendAddress,
						stu_classes.cla_Id,stu_classes.cla_Name
					FROM
						stu s
					LEFT JOIN stu_friend ON s.stu_Id = stu_friend.stuId
					LEFT JOIN stu ss ON ss.stu_Id = stu_friend.frientId
					LEFT JOIN stu_classes ON ss.stu_ClassId = stu_classes.cla_Id
					WHERE
					  stu_friend.stu_friend_Flag=1 and s.stu_Id = #{stuId}
			</select>
			
			<!-- 根据学生ID查询学生的详细细信息 -->
			<select id="queryStudentInfoById"  resultMap="StudentResult">
					SELECT
						stu_Id,
						stu_Name,
						stu_Sex,
						stu_Birthday,
						stu_Address,
						stu_Birthday,
						stu_Photo,
						stu_CommunityId,
						stu_signature,
						sc.cla_Name,
						sf.frientId,
						sf.stu_friend_Flag
					FROM
						stu
					LEFT JOIN stu_classes sc ON sc.cla_Id = stu.stu_ClassId
				  LEFT JOIN  stu_friend  sf on sf.stuId  = stu.stu_Id
					WHERE
						stu_Id =  #{stuId}
			</select>
			<!-- 查询所有学生 -->
			<select id="queryAllStudent" resultType="map">
						select stu_Id,stu_Name,stu_Sex,stu_Birthday,stu_Address,stu_BirthPlace.pla_Name,stu_classes.cla_Name,community.community_Name,stu_Photo from stu left join stu_birthplace
						on stu.stu_BirthPlace = stu_BirthPlace.pla_Id left join stu_classes
						on stu.stu_ClassId = stu_classes.cla_Id left join community
						on stu.stu_CommunityId = community_Id
						  <where> 
							<if test="page!=null and  page.keyWord!=null">
								 	stu_Name  like concat('%',concat(#{page.keyWord},'%')) or stu_Address like concat('%',concat(#{page.keyWord},'%')) or stu_classes.cla_Name like concat('%',concat(#{page.keyWord},'%')) 
							</if>
						  </where>	
						LIMIT #{page.startIndex},#{page.rows}
			</select>
			<!-- 查询学生人数总数量  -->
			<select id="queryAllStudentCount" resultType="Integer">
						select count(*) from stu left join stu_birthplace
						on stu.stu_BirthPlace = stu_BirthPlace.pla_Id left join stu_classes
						on stu.stu_ClassId = stu_classes.cla_Id left join community
						on stu.stu_CommunityId = community_Id	
					  <where> 
						<if test="page!=null and  page.keyWord!=null">
							 	stu_Name  like concat('%',concat(#{page.keyWord},'%'))  or stu_Address like concat('%',concat(#{page.keyWord},'%')) or stu_classes.cla_Name like concat('%',concat(#{page.keyWord},'%'))
						</if>
					  </where>									
			</select>
			
			<!-- 添加学生 -->
			<insert id="addStudent" parameterType="cn.com.zzzy.entity.Student" useGeneratedKeys="true" keyProperty="studentId">
						insert into  stu(stu_Name,stu_Sex,stu_Birthday,stu_Address,stu_ClassId,stu_Photo)  values(#{studentName},#{studentSex},#{studentBirthday},#{studentAddress},#{studentClasses.classesId},#{studentPhoto})
			</insert>
			
			
			<!-- 根据学生Id查询学生签名 -->
			<select id="selectStudentSign" resultType="String" parameterType="int">
				SELECT
					stu_signature
				FROM
					stu
				WHERE
					stu_Id = #{stuId};
			</select>
			
			<!-- 修改学生个性签名 -->
			<update id="updateStudentSign" parameterType="cn.com.zzzy.entity.Student">
				UPDATE stu
					SET 
						stu_signature = #{studentSign}
					WHERE
						stu_Id = #{stuId};	
			</update>
			
			<!-- 更新学生申请加入的社团 -->
			<update  id="updateStudentCommunity" parameterType="cn.com.zzzy.entity.Student">
				update stu  set stu_CommunityId = #{studentCommunityId} where stu_Id = #{studentId}
			</update>
			
</mapper>