<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.studentmapper.StudentFriendMapper">
			<resultMap type="cn.com.zzzy.entity.Student" id="studentFriendResult">
				<id  column="stuId" property="studentId"></id>
				<collection property="studentFriend" ofType="cn.com.zzzy.entity.Student">
					<id column="stu_Id" property="studentId" />
					<result column="stu_Name"   property="studentName"/>
					<result column="stu_Sex"   property="studentSex"/>
					<result column="stu_Photo"   property="studentPhoto"/>
					<result column="stu_Address"   property="studentAddress"/>
					<result column="stu_ClassId"   property="studentClassId"/>
					<result column="stu_signature"  property="studentSignature"></result>
					<association column="stu_ClassId" property="studentClasses" javaType="cn.com.zzzy.entity.StudentClasses" resultMap="studentClassesResult"></association>
				</collection>
			</resultMap>
			
			<resultMap type="cn.com.zzzy.entity.StudentClasses" id="studentClassesResult">
					<id  column="stu_ClassId" property="classesId"></id>
					<result column="cla_Name"  property="className"></result>
			</resultMap>
			
			
			<select id="queryFriendInfo" resultMap="studentFriendResult">
					SELECT
						sf.frientId,
						sf.stuId,
						sf.stu_friend_Flag,
						s.stu_Id,
						s.stu_Name,
						s.stu_Sex,
						s.stu_Photo,
						s.stu_Address,
						s.stu_ClassId,
						s.stu_signature,
					  sc.cla_Name
					FROM
						stu s
					LEFT JOIN stu_friend sf ON sf.frientId = s.stu_Id
					LEFT JOIN stu_classes sc ON sc.cla_Id = s.stu_ClassId
					WHERE
					 sf.stu_friend_Flag = 1
						and sf.stuId = #{stuId}
			</select>
			
			
			
			
</mapper>