<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.studentmapper.StudentFriendMapper">
			
			<resultMap type="cn.com.zzzy.entity.Student" id="studentFriendResult">
					 <id column="stu_Id" property="studentId"></id>
					 <result column="stu_Name" property="studentName"></result>
					 <result column="stu_sex" property="studentSex"></result>
					 <result column="stu_Address" property="studentAddress"></result>
					 <result column="stu_Photo" property="studentPhoto"></result>
					 <result column="stu_signature" property="studentSignature"></result>
					 <association property="studentClasses" javaType="cn.com.zzzy.entity.StudentClasses" resultMap="studentClassesResult"/>
			</resultMap>
			<resultMap type="cn.com.zzzy.entity.StudentClasses" id="studentClassesResult">
					<id  column="cla_Id" property="classesId"></id>
					<result column="cla_Name"  property="className"></result>
			</resultMap>			
			
			<resultMap  type="cn.com.zzzy.entity.StudentFriend" id="studentFriendFlagResult">
					  <id column="stu_FriendId"  property="studentFriendId"></id>
					  <result column="frientId" property="friend"></result>
					  <result column="stuId" property="studentId"></result>
					  <result column="stu_friend_Flag" property="stuFriendFlag"></result>
			</resultMap>
			
			
			<select id="queryFriendInfo"   resultMap="studentFriendResult">
				SELECT
					s.stu_Id,
					s.stu_Name,
					s.stu_sex,
					s.stu_Address,
					s.stu_Photo,
					s.stu_signature,
					sc.cla_Name,
					sc.cla_Id 
				FROM
					stu s
				LEFT JOIN stu_classes sc ON sc.cla_Id = s.stu_ClassId
				WHERE
					s.stu_Id IN (
						SELECT
							sf.frientId
						FROM
							stu_friend sf
						WHERE
							sf.stuId = #{stuId}
						AND sf.stu_friend_Flag = 1
					)
			</select>
			
			<!-- 查询互相是否為好友 -->
			<select  id="queryFriendFlag"   resultMap="studentFriendFlagResult">
					select  stu_FriendId,stuId,frientId,stu_friend_Flag from stu_friend    where frientId =#{stuId}
			</select>
			
			<!-- 添加好友 -->
			<insert id="addFriend" >
					insert into  stu_friend(stuId,frientId,stu_friend_Flag)  values(#{studentId},#{friend},#{stuFriendFlag});
			</insert>
			
			<!-- 更新好友的状态 -->
			<update id="updateStudentFriendFlag">
				   update  stu_friend set  stu_friend_Flag = #{stuFriendFlag} where stuId =#{studentId}  and frientId =#{friend} 
			</update>

</mapper>