<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zzzy.basemapper.talkingmapper.TalkingToCaoMapper">
			<resultMap type="cn.com.zzzy.entity.TalkingToCao" id="talkingToCaoResult">
					<id column="talking_tocao_Id" property="talkingToCaoId"></id>
					<result column="talking_tocao_Context" property="talkingToCaoContext"/>
					<result column="talking_tocao_Time" property="talkingToCaoDateTime"/>
					<result column="talking_tocao_parentId" property="talkingToCaoParentId"/>
					<result column="talking_id"  property="talkingId"/>
					<association column="talking_tocao_studentId" property="student" javaType="cn.com.zzzy.entity.Student" resultMap="studentResult"></association>
			</resultMap>
			<resultMap type="cn.com.zzzy.entity.Student" id="studentResult">
						<id column="stu_Id"  property="studentId"/>
						<result column="stu_Name" property="studentName"/>
						<result column="stu_Photo" property="studentPhoto"/>
			</resultMap>
			
			<!-- 添加评论 -->
			<insert  id="insertTalkingToCao">
					insert into talking_tocao(talking_id,talking_tocao_Context,talking_tocao_parentId,talking_tocao_studentId,talking_tocao_Time) values (#{talkingId},#{talkingToCaoContext},#{talkingToCaoParentId},#{talkingToCaoStudentID},now())
			</insert>
			
			<!--根据说说的ID 删除说说评论-->
			<delete  id="delTalkTuCaoByTalkingId">
					delete  from  talking_tocao where talking_id =  #{talkingId}
			</delete>
			
			
			
</mapper>