<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<context:component-scan base-package="cn.com.zzzy"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!--文件上传-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!--设置文件上传的最大尺寸为5MB   如果上传表单的type类型为multipart类型  则必须配置  否则绑定参数不成功-->
			<property name="maxUploadSize">
				<value>5242880</value>
			</property>
	</bean>
	
	
	<mvc:annotation-driven  conversion-service="conversionService"></mvc:annotation-driven>
	
	<bean  id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		  <property name="converters">
		  		<list>
		  			<bean class="cn.com.zzzy.controller.converter.CustomDateConverter" />
		  		</list>
		  </property>
	</bean>
	
	
	
	
</beans>
